## *******************************************************************************************************************************************************
## Git Repository Ignore Configuration
## 
## Author: Wang Yucai
## *******************************************************************************************************************************************************

## PowerShell Studio
*.TempPoint.*